GameASU/bin/GameASU.dll
GameASU.v12.suo
GameASU.v12.suo
GameASU.v12.suo
GameASU/obj/Debug/GameASU.csproj.FileListAbsolute.txt
GameASU/bin/Microsoft.Web.Infrastructure.xml
GameASU/bin/Microsoft.WindowsAzure.Configuration.dll
GameASU/bin/Microsoft.WindowsAzure.Configuration.dll
GameASU/bin/Microsoft.WindowsAzure.Storage.dll
GameASU/bin/Microsoft.WindowsAzure.Storage.xml
GameASU/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameASU/obj/Debug/GameASU.csprojResolveAssemblyReference.cache
GameASU/obj/Debug/GameASU.dll
GameASU/obj/Debug/GameASU.pdb
GameASU/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GameASU/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GameASU/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.pdb
GameASU/bin/Microsoft.WindowsAzure.Configuration.dll
GameASU/bin/Microsoft.WindowsAzure.Storage.dll
GameASU/bin/Microsoft.WindowsAzure.Storage.xml
GameASU/bin/Newtonsoft.Json.dll